.all {
    position: absolute;
    width: 640px;
    height: 1136px;
}


.button-controls {
    display: block;
    position: absolute;
    bottom: 50px;
}

.title {
    position: absolute;
    width: 100%;
    top: 0px;
}

.singer {
    position: absolute;
    top: 15%;
}

.singer-img {
    border-radius: 160px;
    width: 320px;
    height: 320px;
    position: absolute;
    top: 79px;
    left: 160px;
}

/*歌手图动画*/
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.singer-img {
    animation: 15s rotate infinite linear;
    animation-play-state: paused;
}



/*音量条*/
/*隐藏原有的*/
#id-audio-player-volume {
    -webkit-appearance: none;
    width: 400px;
    border-radius: 10px; /*这个属性设置使填充进度条时的图形为圆角*/
    position: absolute;
    top: 119px;
    left: 19%;
    background: gray;
}
#id-audio-player-volume::-webkit-slider-thumb {
    -webkit-appearance: none;
}
/*设置轨道样式*/
#id-audio-player-volume::-webkit-slider-runnable-track {
    height: 5px;
    border-radius: 2px; /*将轨道设为圆角的*/
    z-index: 10;
}
/*取消获得焦点时的轮廓线*/
#id-audio-player-volume:focus {
    outline: none;
}
/*设置滑块的样式*/
#id-audio-player-volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    margin-top: -7px; /*使滑块超出轨道部分的偏移量相等*/
    background: #ffffff;
    border-radius: 50%; /*外观设置为圆形*/
    border: solid 0.125em rgba(205, 224, 230, 0.5); /*设置边框*/
    box-shadow: 0 .125em .125em #3b4547; /*添加底部阴影*/
    position: relative;
    z-index: 10;
}


/*进度条*/
#id-time-progress {
    -webkit-appearance: none;
    width: 350px;
    border-radius: 10px; /*这个属性设置使填充进度条时的图形为圆角*/
    position: absolute;
    top: 13px;
    left: 24%;
    background: gray;
}
#id-time-progress::-webkit-slider-thumb {
    -webkit-appearance: none;
}
/*设置轨道样式*/
#id-time-progress::-webkit-slider-runnable-track {
    height: 5px;
    border-radius: 2px; /*将轨道设为圆角的*/
    z-index: 10;
}
/*取消获得焦点时的轮廓线*/
#id-time-progress:focus {
    outline: none;
}
/*设置滑块的样式*/
#id-time-progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 0px;
    width: 0px;
    margin-top: -7px; /*使滑块超出轨道部分的偏移量相等*/
    background: #ffffff;
    border-radius: 50%; /*外观设置为圆形*/
    position: relative;
    z-index: 10;
}


.progress-bg {
    background-color: #fff;
    width: 350px;
    height: 4px;
    position: absolute;
    top: 15px;
    left: 24%;
}

.volume-bg {
    background-color: #ccc;
    width: 400px;
    height: 4px;
    position: absolute;
    top: 122px;
    left: 19%;
}

.volume-img {
    display: inline-block;
    position: absolute;
    top: 90px;
    left: 55px;
}
.volume-img-big {
    display: inline-block;
    position: absolute;
    top: 90px;
    left: 520px;
}

.progress-img {
    display: inline-block;
    position: absolute;
    left: 116px;
    margin-left: 0px;
    top: -16px;
}

.back {
    position: absolute;
    left: 0px;
}

.meum {
    position: absolute;
    right: 0px;
}

.music-name {
    font-size: 2.5em;
    color: #ffffff;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0.35em;
    font-family: Georgia;
    font-weight:100;
}

.void {
    position: absolute;
    top: 670px;
    left: 50%;
    transform: translateX(-50%);
}

.void img {
    margin: 0px;
    width: 100px;
    height: 100px;
}

#progress {
    position: absolute;
    bottom: 290px;
    font-size: 1.5em;
    color: #cfcfcf;
    width: 640px;
    font-family: Arial;
}

#current {
    position: absolute;
    left: 80px;
    top: 4px;
}

#duration {
    position: absolute;
    left: 520px;
    top: 4px;
}

.button-replay {
    margin-right: -20px;
}

.button-random {
    margin-left: -20px;
}

.background-image {

}

.button-play {

}

.button-pause {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
