/*消除页面间隙*/
body {
    margin: 0;
}

/*全部*/
.all {
    position: absolute;
    width: 100%;
    height: 100%;
}

/*播放列表*/
.music-list-content {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 100%;
    bottom: 0;
    font-size: 3em;
    background-color: #f7f7f7;
    text-align: center;
}
/*列表弹出动画*/
.music-list-content {
    transition: 0.5s;
}
.list {
    line-height: 2.5em;
}
.music-list-content > ul > li {
    display: block;
    border-top: 1px solid #d0cece;
    width: 100%;
}
.music-list-content > ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 2.3em;
    font-size: 0.9em;
    left: 3%;
    position: absolute;
    color: #404040;
}

/*背景图*/
.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
}

/*首行*/
.title {
    position: absolute;
    width: 100%;
    top: 0px;
}

/*返回 图标和 菜单 图标*/
.title > img {
    width: 17%;
}

/*歌曲名*/
.music-name {
    font-size: 4em;
    color: #ffffff;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0.35em;
    font-family: Georgia;
    font-weight:100;
}

/*歌手图div*/
.singer {
    position: absolute;
    top: 15%;
    width: 100%;
}

/*歌手图圈圈*/
.torus {
    width: 100%;
}

/*歌手图*/
.singer-img {
    border-radius: 50%;
    width: 52.8%;
    height: 70%;
    position: absolute;
    display: block;
    top: 14.6%;
    left: 23.6%;
}

/*歌手图动画*/
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.singer-img {
    animation: 15s rotate infinite linear;
    animation-play-state: paused;
}



/*音量条*/
/*隐藏原有的*/
#id-audio-player-volume {
    -webkit-appearance: none;
    width: 400px;
    border-radius: 10px; /*这个属性设置使填充进度条时的图形为圆角*/
    position: absolute;
    left: 28%;
    top: 45%;
    background: gray;
}
#id-audio-player-volume::-webkit-slider-thumb {
    -webkit-appearance: none;
}
/*设置轨道样式*/
#id-audio-player-volume::-webkit-slider-runnable-track {
    height: 5px;
    border-radius: 2px; /*将轨道设为圆角的*/
    z-index: 10;
}
/*取消获得焦点时的轮廓线*/
#id-audio-player-volume:focus {
    outline: none;
}
/*设置滑块的样式*/
#id-audio-player-volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    margin-top: -7px; /*使滑块超出轨道部分的偏移量相等*/
    background: #ffffff;
    border-radius: 50%; /*外观设置为圆形*/
    border: solid 0.125em rgba(205, 224, 230, 0.5); /*设置边框*/
    box-shadow: 0 .125em .125em #3b4547; /*添加底部阴影*/
    position: relative;
    z-index: 10;
}


/*进度条*/
#id-time-progress {
    -webkit-appearance: none;
    width: 450px;
    border-radius: 10px; /*这个属性设置使填充进度条时的图形为圆角*/
    position: absolute;
    top: 30%;
    left: 25%;
    background: gray;
}
#id-time-progress::-webkit-slider-thumb {
    -webkit-appearance: none;
}
/*设置轨道样式*/
#id-time-progress::-webkit-slider-runnable-track {
    height: 5px;
    border-radius: 2px; /*将轨道设为圆角的*/
    z-index: 10;
}
/*取消获得焦点时的轮廓线*/
#id-time-progress:focus {
    outline: none;
}
/*设置滑块的样式*/
#id-time-progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 0px;
    width: 0px;
    margin-top: -7px; /*使滑块超出轨道部分的偏移量相等*/
    background: #ffffff;
    border-radius: 50%; /*外观设置为圆形*/
    position: relative;
    z-index: 10;
}


.progress-bg {
    background-color: #fff;
    width: 450px;
    height: 4px;
    position: absolute;
    top: 33%;
    left: 25%;
}

/*音量div*/
.volume {
    position: absolute;
    width: 100%;
    height: 4%;
    top: 10%;
}
.volume-bg {
    background-color: #ccc;
    width: 400px;
    height: 4px;
    position: absolute;
    left: 28%;
    top: 45%;
}

.volume-img {
    display: inline-block;
    position: absolute;
    left: 22%;
}
.volume-img-big {
    display: inline-block;
    position: absolute;
    left: 70%;
}

.progress-img {
    display: inline-block;
    position: absolute;
    width: 10%;
    left: 18.5%;
    margin-left: 0px;
    top: -28%;
}

.back {
    position: absolute;
    left: 0px;
}

.meum {
    position: absolute;
    right: 0px;
}

/*红心分享下载图标*/
.void {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
}
.void > img {
    width: 32%;
}

/*进度条div*/
#progress {
    position: absolute;
    bottom: 18%;
    font-size: 2.5em;
    color: #cfcfcf;
    width: 100%;
    height: 5%;
    font-family: Arial;
    left: 50%;
    transform: translateX(-50%);
}

#current {
    position: absolute;
    left: 11%;
    top: 10%;
}

#duration {
    position: absolute;
    left: 75%;
    top: 10%;
}

.button-replay {
    margin-right: -20px;
}

.button-random {
    margin-left: -20px;
}

/*歌曲操作按钮*/
.button-controls {
    position: absolute;
    bottom: 1%;
    width: 100%;
}
.button-controls > img {
    width: 20%;
}


.button-pause {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
